body {
  font-family: Arial, Helvetica, sans-serif;
  background: #dad467;
  color: #333;
  margin: 0;
  padding: 20px;
}
#img1 {
  width: 300px;
  image-orientation: 0rad;
}
#img2 {
  width: 300px;
  image-orientation: 0rad;
}
#img3 {
  width: 300px;
  image-orientation: 0rad;
}

.carousel-item img {
  height: 400px;
  width: auto;
  object-fit: contain;
}
